.App {
  text-align: center;
}

.image {
  width: 500px;
  border: black solid;
  margin: auto;
  margin-bottom: 10px;
}

.image img {
    width: 300px;
}
.image button{
  border: none;
  background-color: white;
  font-size: 20px;
}

.image button :hover{
  font-size: 30px;
}
